	body.dark {
		background-color: #000000;
	}

	body.dark .main {
		border:1px solid black;
		background-color:#111111;
	}

	body.dark .title {
		text-align:center;
	}

	body.dark h1,
	body.dark h2,
	body.dark h3,
	body.dark h4,
	body.dark h5,
	body.dark h6,
	body.dark button,
	body.dark p,
	body.dark span,
	body.dark label,
	body.dark select,
	body.dark input,
	body.dark li {
		font-family:sans-serif;
		color:#ccc;
	}

	body.dark a.no_underline {
		color:#ccc;
	}


	body.dark code, body.dark pre {
		color:#ccc;
	}

	body.dark a {
		color: #55f;
	}

	body.dark a.url_span {
		color: #00f;
	}

	body.dark button,
	body.dark select,
	body.dark input {
		background-color:#222;
		border:1px solid #444;
	}

	body.dark button:disabled {
		background-color:#222;
		color:#333;
	}

	body.dark button:hover:enabled {
		background-color:#444;
		border:1px solid #666;
	}

	/* while being clicked */
	body.dark button:active:enabled {
		background-color:#666;
		color: #ccc;
		border:1px solid #ccc;
	}

	body.dark .popup {
		background-color:#111111ee;
		border-radius:15px;
		border:1px solid grey;
	}

	body.dark .overlay {
		background-color:#111111dd;
	}


	body.dark .status {
		background-color:#22222255;
		border:1px dashed #555;
	}

	body.dark .status_error {
		color:#800;
	}

	body.dark .game_title {
		background-color: #222;
	}
	body.dark .game_row {
		background-color: #222;
	}

	body.dark .game_choice_popup:after {
		background-image: linear-gradient(to bottom, #00000000, #444444ff 95%);
	}

	body.dark .close_button {
		background-color: #400;
	}

	body.dark .url_container {
		border: 1px solid white;
		background-color: grey;
	}

	body.dark .not_supported {
		color: #585858;
	}
